<!DOCTYPE html />
<html>
<head>
	<title>Chuck Joke Request</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
	<script type="text/javascript" src="js/cjr.js"></script>
	<link rel="stylesheet" type="text/css" href="styles/reset.css">
	<link rel="stylesheet" type="text/css" href="styles/cjr.css">
</head>
<body>

	<div class="header">
		<div class="column">
			<img class="header-img" src="img/chuck.svg" />
			<div class="header-text">CHUCK JOKE REQUEST</div>
		</div>
	</div>

	<div class="settings">
		<input type="text" id="jokesNumber" value="10">
		<div id="reqbutton" class="sendbutton noselect">Get jokes</div>
		<input type="text" id="jokesName" value="Chuck">
		<input type="text" id="jokesSurname" value="Norris">
		<img src="img/pie.gif" id="loadGif"/>
	</div>

	<div id="errorstatus"></div>

	<script id="joke-template" type="text/x-handlebars-template">	
		{{#value}}
			<div id="jokecard">
				<div class="jokeid noselect">{{this.id}}</div>
				<div class="joketext">{{{this.joke}}}</div>
			</div>
		{{/value}}
	</script>
	<div id="jokeplace" class="columnLess"></div>
</body>
</html>