.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
body {
	background-color: #fcfbf9;
}
.column{
	position: relative;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.columnLess{
	left:40px;
	position: relative;
	width: 920px;
	margin-left: auto;
	margin-right: auto;
}
.header{
	background-color: #3a3937;
	box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.36);
	height: 100px;
	width: 100%;
	min-width:1000px;
}
.header-img{
	height: 100px;
	float: left;
}
.header-text{
	float: right;
	font-family: courier;
	color: #C9C9C9;
	line-height: 100px;
	font-size: 50px;
}

#jokecard{
	padding: 15px 0;
	margin: 40px;
	font-family: Roboto;
	font-size: 15px;
	border-bottom: solid 1px #dedede;
}
.jokeid{
	float: left;
	margin-left: -60px;
	background-color: #ce5c56;
	width: 33px;
	border-radius: 100%;
	line-height: 33px;
	color: #fff;
	text-align: center;
	margin-top: -9px;
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.4);
}
.jokeid:hover{
	cursor: default;
}
.joketext{
	padding-left: none;
}
.settings{
	font-family: calibri;
	position: relative;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	margin-top: 40px;
	border: solid 1px #eee;
	border-radius: 5px;
	height: 80px;
}
.sendbutton{
	position: absolute;
	bottom: 15px;
	font-weight: bold;
	font-size: 20px;
	padding: 10px;
	text-align: center;
	width: 140px;
	background-color: #3A3937;
	color: #e8e8e8;
	box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.36);
	transition: 300ms;
}
.sendbutton:hover{
	cursor: pointer;
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);
	background-color: #444;
}
.sendbutton:active{
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0);
	background-color: #666;
	color: #ccc;
}
input{
	position: absolute;
	font-size: 20px;
	border: none;
	text-align: center;
	border-bottom: solid 1px #dedede;
	transition: 300ms;
}
input:active{
	border:none;
	border-bottom: solid 1px #aeaeae;
}
input:focus{
	outline: none;
	border-bottom: solid 1px #aeaeae;
}
#jokesNumber{
	width: 160px;
	color: #3a3937;
}
#loadGif{
	position: absolute;
	left: -500px;
	transition: 200ms;
	opacity: 1;
	z-index: -50;
	margin-left: 400px;
	opacity: 0;
}
#jokesName{
	margin-left: 180px;
	text-align: left;
}
#jokesSurname{
	margin-left: 180px;
	margin-top: 53px;
	text-align: left;
}
#errorstatus{
	display: none;
	margin-left: auto;
	margin-right: auto;
	width: 930px;
	border-radius: 10px;
	background-color: #E0A8A7;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 30px;
	color: #fff;
}